{{> header}}
<div>

    <table>
        <head>
            <th>titulo</th>
            <th>precio</th>
            <th>imag</th>
        </head>
    </table>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>
                {{#if this.thumbnails}}
                <img src="{{this.thmbnails}}" alt="" width="50">
                {{else}}
                no hay imagen
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</div>