<div class="login">
    <h2>Login</h2>
    <form action="/login" method="post">
        <label for="email">email:</label>
        <input type="email" id="email" name="email" autocomplete="off" required>
        
        <label for="password">password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <div class="github-container">
        <a href="/github">
        <button type="button" class="github-login">
            <i class="fab fa-github"></i>login with GitHub
        </button>
        </a>
    </div>
    <p>no tienes cuenta?<a href="/register">Regístrate</a></p>
</div>