<div>
    <h1>real time products</h1>

    <table>
        <head>
            <tr>
                <th>ID</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Codigo</th>
                <th>Stock</th>
                <th>Categoria</th>
                <th>Status</th>
                <th>Imagen</th>
            </tr>
        </head>
        <tbody id="productsBody">
    </tbody>
    </table>

    <h2>Agregar producto</h2>
    <form id="productForm">
        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" id="titulo" required>
        <label for="descripcion">Descripcion:</label>
        <input type="text" name="descripcion" id="descripcion" required>
        <label for="precio">Precio:</label>
        <input type="text" name="precio" id="precio" required>
        <label for="codigo">Codigo:</label>
        <input type="text" name="codigo" id="codigo" required>
        <label for="stock">Stock:</label>
        <input type="text" name="stock" id="stock" required>
        <label for="categoria">Categoria:</label>
        <input type="text" name="categotia" id="categoria" required>
        <label for="status">Status:</label>
        <input type="text" name="status" id="status" required>
        <label for="imagen">Imagen:</label>
        <input type="text" name="imagen" id="imagen" required>
        <button type="submit">Agregar Producto</button>
    </form>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>