<header>
    <div>
        <h1>{{title}}</h1>
        <nav>
            {{#if user}}
            <p>bienvenido, {{user.email}}</p>
            <a href="/logout">cerrar sesion</a>

            {{#if user.image}}
            <div class="profile-picture">
                <img src="{{user.image}}" alt="Perfil del usuario">
            </div>
            {{/if}}
            
            {{else}}
            <a href="/login">iniciar sesion</a>
            <a href="/register">registrarse</a>
            {{/if}}
        </nav>
    </div>
</header>